* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    --text-white: rgb(227, 227, 227);
    --text-dark: #152949;
    --bg-grey-light: #dadada;
    --bg-white: #ffffff;
    --bg-blue-dark: #142136;
    --bg-indigo: #6366f1;
     font-family: "Inter", sans-serif;
     line-height: 1.7;
     background-color: var(--bg-grey-light);         
}
.dark {
     --text-white: #e6e6e6;
     --text-dark: #ffffff;
     --bg-grey-light: #142136;
     --bg-white: #22395d;
     --bg-blue-dark: #142136;
     --bg-indigo: #7577e1;
}
.container {
     max-width: 600px;
     margin: 40px auto;
     display: flex;
     padding: 20px;
     flex-direction: column;
}
.text-wrapper {
    width: 100%;
    padding: 25px;
    background-color: var(--bg-white);
    margin-bottom: 40px;
    border-radius: 10px;
    text-align: justify;
  }
  .paragraph {
    font-size: 16px;
    color: var(--text-dark);
  }
  .heading {
    text-align: center;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 40px;
    color: var(--text-dark);
  }
  .buttons {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  #refresh {
    display: none;
  }
  .button {
    width: 200px;
    padding: 5px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--bg-indigo);
    color: var(--text-white);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .slider{
    margin: 0 auto;
    width: 500px;
    height: 300px;
    overflow: hidden; 
    border: 2px solid rgb(230, 229, 229);    
    border-radius: 50px; 
  }
  .slides {
    width: 400%;
    height: 400px;
    display: flex;
  }
  .slides input {
    display: none;
  }
  .slide{
    width: 25%;
    position: relative;
  }
  .slide img{
    width: 600px;      
  }
  .manual-navigation{
   position: absolute;
   width: 500px;
   margin-top: -80px;
   padding: 10px;
   display: flex;
   justify-content: center;
  }
  .manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 35px;
  }
  .manual-btn:hover{
   background-color: #fff;
  }
  #radio1:checked ~ .first {
      margin-left: 0%;
  }
  #radio2:checked ~ .first {
    margin-left: -25%;
  }
  #radio3:checked ~ .first {
  margin-left: -50%;
  }

  #radio4:checked ~ .first {
  margin-left: -75%;
  }
  .navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;  
  }
  .navigation-auto div:not(:last-child){
  margin-right: 40px;  
  }
  #radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
  }
  #radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
  }
  #radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
  }
  #radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #fff;
  }